<!-- Core Js-->
<script src="/static/js/apexcharts.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/buttons.js"></script>
<script src="/static/js/choices.min.js"></script>
<script src="/static/js/on-screen.umd.min.js"></script>
<script src="/static/js/simplebar.min.js"></script>
<script src="/static/js/smooth-scroll.polyfills.min.js"></script>
<script src="/static/js/Sortable.min.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script src="/static/js/tabulator.min.js"></script>
<script src="/static/js/volt.js"></script>
<script src="/static/js/xlsx.full.min.js"></script>
<script src="/static/js/datepicker.min.js"></script>